body {
    background-color: #333;
    color: #eee;
}
#symlink-path-container label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
#symlink-path {
    width: calc(100% - 110px);
}
.sticker {
    background-color: #222;
    border-radius: 0.5ex;
    display: inline-block;
    margin: 0.5ex;
    max-width: 250px;
    padding: 2px;
    transition: background-color 0.2s;
}
.sticker:hover {
    background-color: #111;
}
.sticker img {
    display: block;
    cursor: pointer;
    width: 240px;
    min-height: 240px;
    max-height: 320px;
}
.active {
    background-image: -webkit-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -ms-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -o-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    padding: 0;
    border: 2px solid #888;
    box-shadow: inset #666 0 0 3px;
}
