body {
    background-color: #333;
    color: #eee;
}
#symlink-path-container label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
#symlink-path {
    width: calc(100% - 110px);
}
.sticker {
    background-color: #222;
    border-radius: 0.5ex;
    display: inline-block;
    margin: 0.5ex;
    padding: 0.25ex;
    transition: background-color 0.2s;
}
.sticker:hover {
    background-color: #111;
}
.sticker img {
    cursor: pointer;
    width: 240px;
    max-height: 320px;
}
