body {
    background-color: #333;
    color: #eee;
}
#symlink-path-container label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
#symlink-path {
    width: calc(100% - 110px);
}
#filter-container label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
#tag-filter {
    width: calc(100% - 110px);
}
.sticker {
    background-color: #222;
    border-radius: 0.5ex;
    display: inline-block;
    margin: 0.5ex;
    max-width: 250px;
    padding: 2px;
    transition: background-color 0.2s;
}
.sticker:hover {
    background-color: #111;
}
.sticker img {
    display: block;
    cursor: pointer;
    width: 240px;
    min-height: 240px;
    max-height: 320px;
}
.active {
    background-image: -webkit-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -ms-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: -o-linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    background-image: linear-gradient(
        top,
        rgba(153, 153, 153, 0.33) 0%,
        rgba(0, 0, 0, 0.33) 100%
    );
    padding: 0;
    border: 2px solid #888;
    box-shadow: inset #666 0 0 3px;
}
#sticker-container {
    outline: none;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
#current-folder {
    white-space: nowrap;
    padding-right: 0.5rem;
    min-height: 1rem;
}
.error-input {
    box-shadow: #f00 0 0 1px;
}
#import-telegram-table {
    margin: auto;
    width: calc(100% - 1rem);
}
#import-telegram-table #sticker-url {
    width: 100%;
}

#about-container * {
    vertical-align: top;
}
#soatok {
    width: 200px;
    margin-left: -50px;
}
#about-content {
    min-width: 240px;
}
.hyperlink {
    color: #0cf;
    cursor: pointer;
    text-decoration: underline;
}
.hyperlink:hover {
    color: #9df;
}
.hyperlink:active {
    color: #39c;
}
.hyperlink:visited {
    color: #cc99ff;
}
#about-container h1 {
    margin: 0;
}
#sticker-preview {
    text-align: center;
}
#sticker-preview img {
    max-width: 500px;
    height: 400px;
}
#edit-tag {
    width: calc(100% - 1ex);
    min-height: 2.2rem;
}
